<div class="header">
      <div class="container">
        <h1>Innovation Fest</h1>
        <p>Plug your music globally</p>
        <a class="btn" href="#">Learn More</a>
      </div>
    </div>

    <div class="nav">
      <div class="container">
        <ul>
          <li>Register</li>
          <li>Schedule</li>
          <li>Lineup</li>
          <li>About</li>
          <li>Contact</li>
        </ul>
      </div>
    </div>

    <div class="main">
      <div class="container">
        <img src="https://wallpaperstock.net/wallpapers/thumbs1/8766wide.jpg" height="128" width="196">
        <h2>The Innovation Fest</h2>
        <p>These pages aim to give you all the information you need about the Festival: from ticket information and travel advice to suggestions for what to bring. If you’re staying at Worthy View, click here. On site, during the Festival the Information Points are a veritable fount of knowledge and home of usefulness.</p>
        <p>If you’re not sure where to begin, a lot of people seem to head for the pages about tickets, getting here and camping.</p>
      </div>
    </div>

    <div class="jumbotron">
      <div class="container">
        <h2>Stay Connected</h2>
        <p>Receive weekly insights from insiders.</p>
        
        <%= form_for @signup do |f| %>
        <%= f.text_field :email %>
        <%end%>
        
      </div>
    </div>

    <div class="footer">
      <div class="container">
        <p>&copy; Innovation Fest powered by Dirty Hit</p>
      </div>
    </div>